<!-- Responsive Top Navigatio Bar -->
<div class="topnav">
  <a href="#home" class="active">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <input type="text" placeholder="Search..">
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>
</div>
<!-- Responsive Top Navigatio Bar  END-->

<!-- Column Cards -->
<div class="row" >
  <div class = "column">
    <div class="card">
      <h3>Card 1</h3>
      <p>Some Text</p>
      <p>Some Text</p>
    </div>
  </div>
</div>
<!-- Column Cards END -->
